streamlit==1.11.1
matplotlib==3.5.2
rdkit-pypi==2022.03.5
numpy==1.23.1
scipy==1.9.0
tqdm==4.64.0
torch==1.12.1
gpytorch==1.8.1
botorch==0.6.5
Pillow==9.2.0
streamlit-aggrid==0.3.2
nextorch==0.1.0
larksuite-oapi==1.0.34
dgl==0.9
dgllife==0.3.1
ipython==8.4.0